@charset "utf-8";


$Lapis: #2274A5;
$Black: #131B23;
$FlashWhite: #D3D6D9;
$shadow: 0 1px 2px 0 transparentize(#000000, .8) !important;
$font: 'Roboto', sans-serif !important;
$title: 'Montserrat', sans-serif;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.App-content {
  padding: var( — space) var( — space) 0;
  width: 100%;
  flex: 1 0 auto;
}
.App-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
 }

#NavHeader {
  display: flex;
  background-color: $Lapis;
  opacity: 0.7;
  width: 100%;
}

.Footer {
  display: flex;
  justify-content: center;
  height: 90px;
  background-color: $Lapis;
  opacity: 0.7;
}

