@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+mono|Raleway');

$Lapis: #0c264f;
$Black: #131B23;
$FlashWhite: #D3D6D9;
$shadow: 0 1px 2px 0 transparentize(#000000, .8) !important;
$font: 'Montserrat', sans-serif !important;
$title: 'Roboto Mono', monospace;
$blah: 'Raleway', sans-serif;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.App-content {
  padding: var( — space) var( — space) 0;
  width: 100%;
  flex: 1 0 auto;
}

.App-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
 }

#NavHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $Lapis;
  width: 100%;
}
 
#leftJob {
  font-family: $title;
  font-size: 25px;
  color: #000;
  text-align: right;
}

#rightJob {
  font-family: $title;
  font-size: 25px;
  color: #000;
  text-align: start;
}

#first {
  font-family: $blah;
  font-size: 65px;
  color: $FlashWhite;
}

#last {
  font-family: $blah;
  font-size: 65px;
  color: $FlashWhite;
}

#left  {
  flex-grow: 0;
}

#right {
  flex-grow: 0;
}

#anchor {
  height: 130px;
  width: 150px;
}

#NavFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 90px;
  background-color: #4893b5;
  font-family: $font;
  color:  #c9cacc;
}

#subFooter {
  font-size: 15px;
}

#aboutTitle {
  font-family: $font;
}

.logo { 
  width: 40px;
  height: 30px;
  margin: 10px;
}

#coffee {
  color: $FlashWhite;
}

#skills {
  margin-bottom: 20px;
}
#About {
  font-family: $font;
  margin-bottom: 50px;
  margin-top: 10px;
}

#aboutStyle {
  margin-top: 50px;
  border-bottom: 3px solid;
}

#Projects {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 3px solid;
  font-family: $font;
}

#projectTitleContain {
  display: flex;
  justify-content: flex-end;
}

#ProjectTitle {
  font-family: $font;
  margin-bottom: 30px;
}

#echo1 {
  height: 250px;
  width: 150px; 
}

#echo2 {
  height: 248px;
  width: 143px;
}

#echoImgContain {
  display: flex;
  justify-content: center;
  font-family: $font;
}

#echoRow {
  border-bottom: 5px inset;
  margin-top: 50px;
  padding-bottom: 40px;
}

#petContain {
  margin-top: 50px;
  padding-bottom: 50px;
}

#petImg {
  height: 350px;
  width: 500px;
}

#contactRow {
  margin: 20px;
  font-family: $font;
}

#btn {
  margin-top: 20px;
}

#edu {
  margin-top: 20px
}

#insideStyles {
  color: #4893b5;
  font-size: 80px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%,-50%);
  font-family: $font;
}
#jobTitle {
  color: #fff;
  font-size: 30px;
  font-family: $title;

}