@charset "UTF-8";
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.App-content {
  padding: var(— space) var(— space) 0;
  width: 100%;
  flex: 1 0 auto; }

.App-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden; }

#NavHeader {
  display: flex;
  background-color: #2274A5;
  opacity: 0.7;
  width: 100%; }

.Footer {
  display: flex;
  justify-content: center;
  height: 90px;
  background-color: #2274A5;
  opacity: 0.7; }
